<a href="https://colab.research.google.com/github/mfatihp/ML_examples/blob/master/tf_balance_scale_weight_%26_distance_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [14]:
# Data preprocessing
columns = ['Class', 'L_weight', 'L_distance', 'R_weight', 'R_distance']
raw_data = pd.read_csv("balance-scale(classification).data.txt", header=None, names=columns)

data = raw_data.copy()

data.head()

  Class  L_weight  L_distance  R_weight  R_distance
0     B         1           1         1           1
1     R         1           1         1           2
2     R         1           1         1           3
3     R         1           1         1           4
4     R         1           1         1           5

In [15]:
data['Class'].replace(['B', 'L', 'R'], [0, 1, 2], inplace=True)
data.head()

   Class  L_weight  L_distance  R_weight  R_distance
0      0         1           1         1           1
1      2         1           1         1           2
2      2         1           1         1           3
3      2         1           1         1           4
4      2         1           1         1           5

In [0]:
# Splitting train and test datas
train_data = data.sample(frac=0.8, random_state=0)
test_data = data.drop(train_data.index)

train_label = train_data.pop('Class')
test_label = test_data.pop('Class')

In [0]:
# Building model
def build_model():
  model = tf.keras.models.Sequential([
      tf.keras.layers.Dense(32, activation=tf.nn.relu, input_shape=[len(train_data.keys())]),
      tf.keras.layers.Dense(16, activation=tf.nn.relu),
      tf.keras.layers.Dense(3, activation=tf.nn.softmax)
  ])
  
  model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
  
  return model

In [18]:
model = build_model()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [19]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                160
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 51
=================================================================
Total params: 739
Trainable params: 739
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Training model
model.fit(train_data, train_label, epochs=25, validation_split=0.2)

Train on 400 samples, validate on 100 samples
Epoch 1/25
400/400 [==============================] - 0s 1ms/sample - loss: 0.7968 - acc: 0.6875 - val_loss: 0.8291 - val_acc: 0.7000
Epoch 2/25
400/400 [==============================] - 0s 77us/sample - loss: 0.6884 - acc: 0.7875 - val_loss: 0.7347 - val_acc: 0.8200
Epoch 3/25
400/400 [==============================] - 0s 76us/sample - loss: 0.6090 - acc: 0.8475 - val_loss: 0.6789 - val_acc: 0.8600
Epoch 4/25
400/400 [==============================] - 0s 67us/sample - loss: 0.5466 - acc: 0.8650 - val_loss: 0.6233 - val_acc: 0.8600
Epoch 5/25
400/400 [==============================] - 0s 77us/sample - loss: 0.4951 - acc: 0.8725 - val_loss: 0.5826 - val_acc: 0.8500
Epoch 6/25
400/400 [==============================] - 0s 78us/sample - loss: 0.4560 - acc: 0.8725 - val_loss: 0.5431 - val_acc: 0.8500
Epoch 7/25
400/400 [==============================] - 0s 77us/sample - loss: 0.4240 - acc: 0.8825 - val_loss: 0.5193 - val_acc: 0.8500
Epoch 8/25
400/400 [==============================] - 0s 86us/sample - loss: 0.3978 - acc: 0.8900 - val_loss: 0.5009 - val_acc: 0.8500
Epoch 9/25
400/400 [==============================] - 0s 105us/sample - loss: 0.3766 - acc: 0.8825 - val_loss: 0.4801 - val_acc: 0.8500
Epoch 10/25
400/400 [==============================] - 0s 67us/sample - loss: 0.3601 - acc: 0.8875 - val_loss: 0.4610 - val_acc: 0.8500
Epoch 11/25
400/400 [==============================] - 0s 66us/sample - loss: 0.3464 - acc: 0.9000 - val_loss: 0.4470 - val_acc: 0.8500
Epoch 12/25
400/400 [==============================] - 0s 70us/sample - loss: 0.3345 - acc: 0.8850 - val_loss: 0.4314 - val_acc: 0.8500
Epoch 13/25
400/400 [==============================] - 0s 67us/sample - loss: 0.3255 - acc: 0.8900 - val_loss: 0.4212 - val_acc: 0.8500
Epoch 14/25
400/400 [==============================] - 0s 66us/sample - loss: 0.3135 - acc: 0.8875 - val_loss: 0.4095 - val_acc: 0.8500
Epoch 15/25
400/400 [==============================] - 0s 71us/sample - loss: 0.3041 - acc: 0.8875 - val_loss: 0.3974 - val_acc: 0.8600
Epoch 16/25
400/400 [==============================] - 0s 82us/sample - loss: 0.2975 - acc: 0.9050 - val_loss: 0.3909 - val_acc: 0.8500
Epoch 17/25
400/400 [==============================] - 0s 75us/sample - loss: 0.2907 - acc: 0.8875 - val_loss: 0.3870 - val_acc: 0.8500
Epoch 18/25
400/400 [==============================] - 0s 74us/sample - loss: 0.2842 - acc: 0.9050 - val_loss: 0.3792 - val_acc: 0.8600
Epoch 19/25
400/400 [==============================] - 0s 65us/sample - loss: 0.2815 - acc: 0.8875 - val_loss: 0.3677 - val_acc: 0.8600
Epoch 20/25
400/400 [==============================] - 0s 61us/sample - loss: 0.2740 - acc: 0.9050 - val_loss: 0.3590 - val_acc: 0.8600
Epoch 21/25
400/400 [==============================] - 0s 67us/sample - loss: 0.2678 - acc: 0.8950 - val_loss: 0.3543 - val_acc: 0.8600
Epoch 22/25
400/400 [==============================] - 0s 69us/sample - loss: 0.2621 - acc: 0.9025 - val_loss: 0.3534 - val_acc: 0.8500
Epoch 23/25
400/400 [==============================] - 0s 69us/sample - loss: 0.2597 - acc: 0.8950 - val_loss: 0.3479 - val_acc: 0.8600
Epoch 24/25
400/400 [==============================] - 0s 73us/sample - loss: 0.2557 - acc: 0.9000 - val_loss: 0.3392 - val_acc: 0.8600
Epoch 25/25
400/400 [==============================] - 0s 67us/sample - loss: 0.2492 - acc: 0.9025 - val_loss: 0.3379 - val_acc: 0.8600

In [21]:
# Testing model
model.evaluate(test_data, test_label)

125/125 [==============================] - 0s 79us/sample - loss: 0.1586 - acc: 0.9600

[0.1586451535820961, 0.96]

In [36]:
prediction = model.predict(test_data)
prediction[0]

array([7.6879887e-03, 2.8213416e-04, 9.9202991e-01], dtype=float32)

In [41]:
test_label.head(1)

9    2
Name: Class, dtype: int64

In [37]:
np.argmax(prediction[0])

2