<a href="https://colab.research.google.com/github/mfatihp/tensorflow_examples/blob/master/tf_congressional_voting_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
print(tf.__version__)

1.13.1

In [33]:
# Cleaning dataset
source = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", header= None)
df = pd.DataFrame(source)
data = df.copy()
data = data.replace('?', np.NaN)
data = data.dropna()
data.head()

            0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
5     democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
8   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
19    democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
23    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  y
25    democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  y  y

In [41]:
data = data.replace('y', 1)
data = data.replace('n', 0)
data = data.replace('democrat', 1)
data = data.replace('republican', 0)
data.head()

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
5    1   0   1   1   0   1   1   0   0   0   0   0   0   1   1   1   1
8    0   0   1   0   1   1   1   0   0   0   0   0   1   1   1   0   1
19   1   1   1   1   0   0   0   1   1   1   0   1   0   0   0   1   1
23   1   1   1   1   0   0   0   1   1   1   0   0   0   0   0   1   1
25   1   1   0   1   0   0   0   1   1   1   1   0   0   0   0   1   1

In [0]:
# Creating train and test sets
train_data = data.sample(frac=0.8, random_state=0)
test_data = data.drop(train_data.index)

In [0]:
train_label = train_data.pop(0)
test_label = test_data.pop(0)

In [0]:
# Building model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation=tf.nn.relu, input_shape=[len(train_data.keys())]),
    tf.keras.layers.Dense(2, activation=tf.nn.softmax)
])

In [0]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [70]:
# Training model
model.fit(train_data, train_label, epochs=10)

Epoch 1/10
186/186 [==============================] - 0s 64us/sample - loss: 0.3847 - acc: 0.9140
Epoch 2/10
186/186 [==============================] - 0s 70us/sample - loss: 0.3426 - acc: 0.9194
Epoch 3/10
186/186 [==============================] - 0s 88us/sample - loss: 0.3068 - acc: 0.9194
Epoch 4/10
186/186 [==============================] - 0s 69us/sample - loss: 0.2773 - acc: 0.9194
Epoch 5/10
186/186 [==============================] - 0s 73us/sample - loss: 0.2546 - acc: 0.9194
Epoch 6/10
186/186 [==============================] - 0s 69us/sample - loss: 0.2359 - acc: 0.9194
Epoch 7/10
186/186 [==============================] - 0s 72us/sample - loss: 0.2205 - acc: 0.9247
Epoch 8/10
186/186 [==============================] - 0s 64us/sample - loss: 0.2082 - acc: 0.9301
Epoch 9/10
186/186 [==============================] - 0s 65us/sample - loss: 0.1972 - acc: 0.9301
Epoch 10/10
186/186 [==============================] - 0s 96us/sample - loss: 0.1875 - acc: 0.9301

In [71]:
# Testing model
model.evaluate(test_data, test_label)

46/46 [==============================] - 0s 1ms/sample - loss: 0.2957 - acc: 0.8696

[0.29573590729547583, 0.8695652]