<a href="https://colab.research.google.com/github/mfatihp/tensorflow_examples/blob/master/tf_car_evaluation_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [37]:
# Loading data
raw_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data", header=None)
data  = raw_data.copy()

data.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [38]:
# Converting categorical string datas to numeric values
col = 0
for i in data.iloc[:,col]:
  if col == len(data.columns):
    break
  rep_array = []
  n_data = data[col].nunique(1)
  repeated_items = data[col].unique()
  
  for j in range(0, n_data):
    rep_array.append(j)
    
  data[col] = data[col].replace(repeated_items, rep_array)
  col += 1
  
data.tail()

      0  1  2  3  4  5  6
1723  3  3  3  2  1  1  3
1724  3  3  3  2  1  2  2
1725  3  3  3  2  2  0  0
1726  3  3  3  2  2  1  3
1727  3  3  3  2  2  2  2

In [0]:
# Creating train and test sets
train_data = data.sample(frac=0.8, random_state=0)
test_data = data.drop(train_data.index)

train_label = train_data.pop(6)
test_label = test_data.pop(6)

In [0]:
# Building model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation=tf.nn.relu, input_shape=[len(train_data.keys())]),
    tf.keras.layers.Dense(32, activation=tf.nn.relu),
    tf.keras.layers.Dense(16, activation=tf.nn.relu),
    tf.keras.layers.Dense(4, activation=tf.nn.softmax)
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [41]:
# Training model
model.fit(train_data, train_label, epochs=10)

Epoch 1/10
1382/1382 [==============================] - 0s 235us/sample - loss: 1.1123 - acc: 0.5955
Epoch 2/10
1382/1382 [==============================] - 0s 56us/sample - loss: 0.8812 - acc: 0.6925
Epoch 3/10
1382/1382 [==============================] - 0s 58us/sample - loss: 0.7517 - acc: 0.7221
Epoch 4/10
1382/1382 [==============================] - 0s 53us/sample - loss: 0.6088 - acc: 0.7742
Epoch 5/10
1382/1382 [==============================] - 0s 56us/sample - loss: 0.4961 - acc: 0.8155
Epoch 6/10
1382/1382 [==============================] - 0s 62us/sample - loss: 0.4073 - acc: 0.8336
Epoch 7/10
1382/1382 [==============================] - 0s 63us/sample - loss: 0.3327 - acc: 0.8690
Epoch 8/10
1382/1382 [==============================] - 0s 62us/sample - loss: 0.2726 - acc: 0.9052
Epoch 9/10
1382/1382 [==============================] - 0s 63us/sample - loss: 0.2360 - acc: 0.9211
Epoch 10/10
1382/1382 [==============================] - 0s 73us/sample - loss: 0.2028 - acc: 0.9247

In [42]:
model.evaluate(test_data, test_label)

346/346 [==============================] - 0s 422us/sample - loss: 0.1742 - acc: 0.9451

[0.17421751581347747, 0.9450867]