<a href="https://colab.research.google.com/github/mfatihp/tensorflow_examples/blob/master/tf_mushroom_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
# Preparing data
raw_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data", header=None)
dataset = raw_data.copy()
dataset.head()

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [3]:
# At 11th column, there are 2480 missing values (denoted by '?')
dataset[11].mode()

0    b
dtype: object

In [0]:
# Replacing missing values with the most frequent value of that column
dataset = dataset.replace('?', 'b')

dataset = dataset.drop_duplicates()

In [7]:
# Converting categorical string data to numeric values
col = 0
for i in dataset.iloc[:,col]:
  if col == len(dataset.columns):
    break
  rep_array = []
  n_data = dataset[col].nunique(1)
  repeated_items = dataset[col].unique()
  
  for j in range(0, n_data):
    rep_array.append(j)
    
  dataset[col] = dataset[col].replace(repeated_items, rep_array)
  col += 1

dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,0,2,0,2,0,0,1,1,...,0,0,0,0,0,0,0,1,1,2
3,0,0,1,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,3,1,3,0,1,1,0,...,0,0,0,0,0,0,1,1,2,1

In [0]:
# Creating train and test sets
train_data = dataset.sample(frac=0.8, random_state=0)
test_data = dataset.drop(train_data.index)

train_label = train_data.pop(0)
test_label = test_data.pop(0)

In [0]:
# Building model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(8, activation=tf.nn.relu, input_shape=[len(train_data.keys())]),
    tf.keras.layers.Dense(2, activation=tf.nn.softmax)
])

In [0]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [23]:
# Training model
model.fit(train_data, train_label, epochs=5)

Epoch 1/5
6499/6499 [==============================] - 0s 60us/sample - loss: 0.4884 - acc: 0.7490
Epoch 2/5
6499/6499 [==============================] - 0s 39us/sample - loss: 0.2708 - acc: 0.9041
Epoch 3/5
6499/6499 [==============================] - 0s 42us/sample - loss: 0.1856 - acc: 0.9478
Epoch 4/5
6499/6499 [==============================] - 0s 38us/sample - loss: 0.1254 - acc: 0.9629
Epoch 5/5
6499/6499 [==============================] - 0s 38us/sample - loss: 0.0896 - acc: 0.9717

In [24]:
# Testing model
model.evaluate(test_data, test_label)

1625/1625 [==============================] - 0s 60us/sample - loss: 0.0798 - acc: 0.9748

[0.07981522547052457, 0.97476923]